@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Navigation */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
}

.nav-btn {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin: 5px;
}

.nav-btn:hover {
    font-weight: 800;
    color: black;
}

.name-navbar {
    text-decoration: none;
    color: black;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0.02em;
    font-size: 1.3em;
}

/* Container */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: 40%;
    padding: 0px 50px;
    background-color: white;
    border-radius: 20px;
    margin-top: 120px;
}

.container-hero h1 {
    width: 100%;
    font-size: 3vw;
    color: black;
    font-family: 'Shrikhand', cursive;
}

.h1-dev {
    color: rgb(82, 82, 82);
    font-family: 'Shrikhand', cursive;
}

.container-hero p {
    margin-top: 25px;
    font-size: 2.7em;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
    font-weight: 400;
}

.slogan-btn {
    width: 100%;
    margin-top: 50px;
}

button {
    width: 30%;
    height: 60px;
    background-color: #f3f3f3;
    border: 3px solid black;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: 0.3rem 0.3rem black;
    transition-duration: 0.5s;
}

.container-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.container-work h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
}

.container-work p {
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    margin-top: 20px;
}

.table-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    gap: 0px 20px;
}

.column-item h3{
    margin-top: 20px;
    font-size: 1.8em;
    text-transform: uppercase;
}

.separador {
    width: 60%;
    height: 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: black;
}

@media (max-width:1024px) {
    .container-hero {
        width: 100%;
    }

    .container-hero h1{
        font-size: 3em;
    }

    .container-work {
        width: 90%;
    }

    .separador {
        width: 80%;
    }

}

@media (max-width: 768px) {

    .container-hero h1 {
        font-size: 2.5em;
    }

    .container-hero p {
        font-size: 2em;
    }

    button {
        width: 30%;
        font-size: 1.2em;
    }

    .column-item h3{
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .column-item p {
        font-size: 0.8em;
    }
    
}

@media (max-width: 580px) {
    .name-navbar {
        display: none;
    }

    .nav-list li {
        font-size: 0.7em;
    }

    .container-hero {
        padding: 0px 10px;
    }

    .container-hero h1 {
        font-size: 2.5em;
    }

    .container-hero p {
        font-size: 2em;
    }

    button {
        width: 38%;
        font-size: 0.8em;
        height: 50px;
    }

    .container-work {
        width: 90%;
    }

    .table-advantages {
        gap: 0px 5px;
    }

    .column-item h3{
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .column-item p {
        font-size: 0.6em;
    }

    .container-work h2 {
        font-size: 2em;
    }

    .container-work > p {
        font-size: 0.8em;
    }

    .separador {
        margin-top: 50px;
        margin-bottom: 50px;;
    }
}

@media (max-width: 320px) {
    .name-navbar {
        display: none;
    }

    .nav-list li {
        font-size: 0.55em;
    }

    .container-hero {
        padding: 0px 10px;
        margin-top: 80px;
    }

    .container-hero h1 {
        font-size: 2.5em;
    }

    .container-hero p {
        font-size: 2em;
    }

    button {
        width: 40%;
        font-size: 0.8em;
        margin-right: 5px;
        height: 50px;
    }

    #table-2 {
        flex-flow: row wrap;
    }

    #table-1 {
        margin-top: 5px;
    }

    #column-2 {
        margin-top: 5px;
    }
    .column-item {
        margin-top: 40px;
    }
    .column-item h3{
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .column-item p {
        font-size: 0.6em;
    }

    .container-work h2 {
        font-size: 2em;
    }

    .container-work > p {
        font-size: 0.6em;
    }

    .separador {
        margin-top: 50px;
        margin-bottom: 50px;;
    }
}